body, canvas, #viewer{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  float: right;
}

.dg.a{
  position: fixed;
  overflow-x: inherit !important;
}

#preloader{
  display: none;
  /*background-image: url(../img/preloader.gif);*/
  position: fixed;
  left: 50%;
  top: 50%;
  height: 58px;
  width: 258px;
  margin-left: -130px;
  margin-top: -29px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}


#preloader > *{
  display: inline-block;
}
